<!DOCTYPE html>
<html lang="en" ng-app="contact">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact app</title>

    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
   

    <div class="container" ng-controller="ContactCtrl">
         <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Delete Confirmations</h4>
        </div>
        <div class="modal-body">
          <p>Do you want to delete <b>{{modals.name}}</b></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button class="btn btn-default"ng-click="delete(modals.id)" data-dismiss="modal">Delete</button>
        </div>
      </div>
      
    </div>
  </div>
        <div class="col-md-6">
            <div class="alert alert-success" ng-show="success">
                <strong>Success!</strong> A contact has been added.
            </div>

            <div class="alert alert-danger" ng-show="failed">
                <strong>Error!</strong> Failed to add contact. 
            </div>

            <div class="form-area">
                <form role="form"  >
                    <br style="clear:both">
                    <h3 style="margin-bottom: 25px; text-align: center;">Contact Form</h3>
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" ng-model="form.name" name="name" placeholder="Name" ng-if="!form2.id"   required >
                        <input type="text" class="form-control" id="name" value= "kajol" ng-model="form2.name" name="form.name" placeholder="" ng-if="form2.id"  required >
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="phone" ng-model="form.phone" name="phone" ng-if="!form2.id" placeholder="Phone" required>
                        <input type="text" class="form-control" id="phone" ng-model="form2.phone" name="phone" ng-if="form2.id" placeholder="Phone" required>
                    </div>

                    <button type="button" ng-click="addContact()" id="submit" name="submit" ng-if="!form2.id" class="btn btn-primary pull-right">Add</button>
                    <button type="button" ng-click="update(form2.id)" id="submit" name="submit" ng-if="form2.id" class="btn btn-primary pull-right">Update</button>
                    
                </form>
                 
              
            </div>
           
        </div>
       
        <div class="col-md-6">
            <div class="table-container">
                <table class="table" ng-show="contacts.length > 0">
                    <tr>
                        <th>SL</th>
                        <th ng-click="short('name')"> Name </th>
                        <th ng-click="short('phone')"> Phone </th>
                    </tr>
                            
                    <tr ng-repeat="contact in contacts | orderBy: shortValue ">
                        <td> #{{ $index+1 }} </td> 
                        <td>{{ contact.name | capatilize}}</td>
                        <td>{{ contact.phone }}</td>
                        <td><button ng-click="valueInUpdateForm(contact.id, contact.name, contact.phone)">Update</button></td>
                        <td><button type="button" ng-click="deleteModal(contact.id, contact.name)" data-toggle="modal" data-target="#myModal">Delete</button></td>
                        
                    </tr>
                </table>

            </div>
        </div> 
        
           

    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
</body>

</html>